@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


:root {

    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Verydark: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

}



*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    background-color: var(--Cream);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}


.container {
    border-radius: 1em;
    max-width: 100%;
    
    background-color: var(--White);
    
    
    
}

img {
    max-width: 100%;
    border-radius: 1em 1em 0 0;
}

.desktop-perfume-img {
    display: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--Darkgrayishblue);
    
}

.description {
    line-height: 1.4em;
}

.title {
    padding-bottom: 1.2em;
    letter-spacing: .5em;
    font-size: .8rem;

}

h1, h2, del{
    font-family: 'Fraunces', serif;
    
    
}
h1 {
    font-size: 2rem;
    line-height: .9em;
    padding-bottom: .8em;
}

h2 {
    color: var(--Darkcyan);
    font-size: 2rem;
}

.prices {
    display: flex;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
    padding-bottom: 1em;

}

.right-col {
    padding: 1.5em;
}

button {
    display: flex;
    background-color: var(--Darkcyan);
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: .5em;
    padding: .8em;
    color: var(--White);
    gap: 1em;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

button:hover{
    cursor: pointer;
}

.cart-icon {
    width: 1.5em;
}

@media only screen and (min-width:700px){

    section {

        padding: 7em;
    }
    .container {
        display: flex;
        min-width: 70vh;
        max-width: 90%;
        
        
        
        
    }

    .perfume-img {
        max-width: 50%;
        background-size: 100%;
        border-radius: 1em 0 0 1em;
        display: none;
        
        
    }
    .desktop-perfume-img{
        display: unset;
        max-width: 50%;
        background-size: 100%;
        border-radius: 1em 0 0 1em;
        
    }

    .right-col {
        padding: 2em;
    }



   

}

@media only screen and (min-width:900px){

    section {
        width: 900px;
        margin: 0 auto;
    }



}